@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg-image{
    background: url('assets/images/bowl_meal.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}